.myRequestsPage {
  .titleSection {
    background-color: var(--white);
    border-radius: 4px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-left: 5.75%;
    height: fit-content;
    padding-bottom: 20px;
    margin-top: 30px;
    .pageTitle {
      padding: 4% 0 0 0%;
      margin-left: 35px;
    }
    img {
      width: 18%;
      padding: 1% 3% 0% 0%;
    }
  }
  .RequestItemsDashboard {
    margin: 3% 5.75% 5.75% 5.75%;
    width: 90%;

    .RequestItems {
      display: flex;
      justify-content: space-between;
    }
  }
}
